#controls {
    margin-bottom: 10px;
    text-align: center;
    display: flex;
}

#canvas {
    border: thin solid black;
    margin: 0 auto;
    display: block;
}

#controls :not(:last-child){
    margin-right: 5px;
}

input, .input {
    font-size: 1.5em;
}

input[type="button"] {
    background-color: #3061a3;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #3974c3;
}

div.inline {
    display: inline-block;
}

#controls div.inline{
    border: thin solid black;
    padding: 3px;
}

#controls div.board {
    flex: 2;
}

#controls div.timeline {
    flex: 1;
}