@font-face {
    font-family: arcade;
    src: url(prstart.ttf);
}

body {
    background-color: black;
    color: #a4ff00;
    font-family: arcade;
    padding: 20px;
}

#conwayJS {
    text-align: center;
}

.controls {
    margin-bottom: 10px;
    display: flex;
}

.controls :not(:last-child) {
    margin-left: 20px;
    margin-right: 20px;
}

#board {
    margin: 0 auto;
    display: inline-block;
    text-align: right;
}

#board #canvas {
    border: thin solid #a4ff00;
}

.button {
    cursor: pointer;
    white-space: pre
}

.button:hover {
    color: yellow;
}

.separator {
    flex: 1;
}
